<%= form_for @gadget, html: { multipart: true } do |f| %>
    <table class="table table-striped">
      <tr>
        <td><%= f.label :name %></td>
        <td><%= f.text_field :name, class: 'input-xxlarge' %></td>
      </tr>
      <tr>
        <td><%= f.label :description %></td>
        <td><%= f.text_area :description, class: 'input-xxlarge', rows: 5 %></td>
      </tr>
      <tr>
        <td>Images</td>
        <td><%= file_field_tag 'images[]', type: :file, multiple: true %></td>
      </tr>
      <tr>
        <td></td>
        <td>
          <%= f.submit 'Save', class: 'btn btn-success' %>
          </p>
      </tr>
    </table>
<% end %>

<%= link_to 'Back to list', gadgets_path %>